$color-gray1: #12181b; // Main
$color-gray2: #2a2e35; // Nav
$color-gray3: #b2becd; // Text
$color-white: #eeeeee; // Headers
$color-red: #ce2b29; // Errors
$color-debug: rgb(4, 31, 0); // Debug

$nav-shadow: 3px 0 10px -3px #010101;
