@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
/* Main */
/* Nav */
/* Text */
/* Headers */
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #12181b;
}

.wip {
  z-index: -1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #eeeeee;
}

.wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.wrapper .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2a2e35;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 3px 0 10px -3px #010101;
          box-shadow: 3px 0 10px -3px #010101;
  font-family: 'Rubik', sans-serif;
  color: #eeeeee;
}

.wrapper .nav-container .nav-logo {
  height: 100%;
  border-right: solid #12181b 3px;
}

.wrapper .nav-container .nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 30px;
}

.wrapper .nav-container .nav-content .nav-left .nav-title {
  font-weight: 500;
  margin-left: 10px;
}

.wrapper .nav-container .nav-content .nav-right {
  margin-right: 10px;
}

.wrapper .nav-container .nav-content .nav-right a {
  color: unset;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  padding: 2px;
}

.wrapper .nav-container .nav-content .nav-right a:hover {
  color: #b2becd;
}
